*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  overflow: hidden;
}


.navigation-container{
  background: #212121;
  overflow-y: auto;
  text-align: center;
  height: 100vh;
}

.movie-items-container{
  background: black;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 100vh;
  overflow-y: scroll;

}

.category-name{
  font-size: 2rem;
}

.categories-list{
  max-height: 80%;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .movie-items-container{
    height: auto;
  }

  .navigation-container{
    height: auto;
  }

  .category-name{
    font-size: 1rem;
  }
}

.movie-item-container-single{
  margin-top: 16px;
}

.movie-item{

  position: relative;
  display: inline-block;
  text-align: right;

}



.movie-img{
  width: 100%;
}

.movie-img:hover{
  cursor: pointer;
}

.like-button{
  position:absolute;
  /*bottom:10px;*/
  right:4px;
  opacity: 0.8;
}

.selected-indicator{
  background: red;
  height: 1.8rem;
  width: 8px;
  padding: 0;
  margin-right: 4px;
  margin-top: 0.3rem;
}



.hidden{
  display: none;
}

.text-secondary{
  color: #9E9E9E;
}

.text-red{
  color: palevioletred;
}


