*{
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  overflow: hidden;
}

.App{

}


.navigation-container{
  background: #212121;
  overflow-y: auto;
  text-align: center;
  height: 100vh;
}



.category-name{
  font-size: 1.4rem;
}

.categories-list{
  max-height: 80%;
  overflow-y: scroll;
}

@media (max-width: 767px) {
  .movie-items-container{
    height: auto;
  }

  .navigation-container{
    height: auto;
  }

  .category-name{
    font-size: 1.2rem;
  }
}


.movie-items-container{
  background: black;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  width: 100%;
  /*overflow-y: scroll;*/
}

.movie-items-container-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.movie-item-container-single{
  margin-top: 16px;
}

.movie-item{


  text-align: right;
}

.image-btn-container{
  position: relative;
  display: inline-block;
  text-align: center;
}


.movie-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.movie-img{
  width: 100%;
}

.movie-detail-header > div{
  padding: 0;
}

@media (max-width: 719px){
  .movie-detail-container .movie-img{
    width: 70%;
    margin: 0 auto;
  }
}

.movie-img-container{
  text-align: center;
}



.movie-img:hover{
  cursor: pointer;
}

.cover-button{
  position:absolute;
  bottom:40%;
  height: 20%;
  width: 20%;
  right: 40%;
}

.like-button{
  /*position:absolute;*/
  /*!*bottom:10px;*!*/
  /*right:4px;*/
  /*opacity: 0.8;*/
}

.play-button{
  color: rgba(255,255,255,0.6);
  border: none;

}

.play-button:hover{
  color: white;
}

.selected-indicator{
  background: red;
  height: 1.2rem;
  width: 8px;
  padding: 0;
  margin-right: 4px;
  margin-top: 0.3rem;
}



.nav-category-item:hover{
  cursor: pointer;
}



.hidden{
  display: none;
}

.text-secondary{
  color: #9E9E9E;
}

.text-red{
  color: palevioletred;
}

scroll-y{
  overflow-y: scroll;
}

.no-scroll-y{
  overflow-y: hidden;
}



.movie-detail-container{
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: scroll;
  padding: 2rem;
  margin: 0rem;
}

.modal-close-button:hover{
  cursor: pointer;
}

.movie-info-content{
  margin-top: 1rem;
}

movie-info-right-column{
  padding-top: 2rem;
}


.genre{
  display: inline-block;
  background: darkred;
  color: white;
  padding: 2px 4px;
  text-align: center;
  font-size: 0.8rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.empty-movies-list{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dropdown-divider{
  color: white;
  margin-top: 0;
  margin-left: 8%;
  margin-right: 5%;
}

.dropdown-toggle-btn{
  margin-bottom: 1.1rem;
}

.dropdown-header{
  padding-bottom: 0;
  /*background: blue;*/
  z-index: 2;
}

.dropdown-wrapper .title{
  margin: 0;
}

.dropdown-content{
  padding-left: 8%;
  padding-right: 5%;
}

.borderless{
  border: none;
}

.dropdown-content-container{
  position: relative;
  z-index: 1;
}

.expand{
  animation: drop-down 250ms ease-in-out forwards;
}

.contract{
  animation: lift-up 250ms ease-in-out forwards;
}

.modal-showing{
  animation: modal-show 350ms ease-in-out forwards;
}

.modal-hidden{
  animation: modal-show 350ms ease-in-out forwards;
}


.video-player{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 4;
}

.youtube-player{
  position: relative;
  width: 100%;
  border: 0;

}

.loading-cover{
  background: rgba(0, 0, 0 ,0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.error-display{
  position: fixed;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 50%;
  min-height: 1rem;
  padding: 16px;
  display: flex;
  /*background: rgba(0,0,0, 0.75);*/
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow-y: scroll;
  z-index: 6;
}

@media (max-width: 959px){
  .error-display{
    max-width: 100%;
    width: 100%;
  }
}

.error-box{
  color: white;
  border-radius: 6px;
  background: #F44336;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  -webkit-box-shadow: 4px 4px 2px 2px rgba(0,0,0,0.7);
  -moz-box-shadow:    4px 4px 2px 2px rgba(0,0,0,0.7);
  box-shadow:         4px 4px 2px 2px rgba(0,0,0,0.7);

}

.error-box-header{
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-box-content{
  height: 100%;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 8px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 25px;*/
  font-size: 36px;
  /*margin-left: 50px;*/
  /*background: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  align-self: flex-end;
  color: white;
}

.sidenav .settings-btn {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  font-size: 24px;
  /*margin-right: 50px;*/
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav-elements{
  overflow: hidden;
}

.sidenav-header{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.sidenav-content{
  height: auto;
  overflow-y: scroll;
}

.collapsed-menu-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:4px 0px;
}

.collapsed-menu-header .selected-genre-title-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collapsed-menu-header .selected-genre-title{
  margin-bottom: 0px !important;
}

.nav-open-btn{
  margin-right: 1rem;
}

.input-group .form-control {
  margin: 0px !important;
  font-size: 0.8rem;
}

.input-group .input-group-btn .btn{
  margin: 1px !important;
}

.search-bar-container{
  padding: 16px 4px;

}

.movie-item-details{
  background: rgba(255,255,255,0.1);
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

.movie-item-details-title{
  font-size: 0.7rem;
  height: 100%;
  /*overflow-x: scroll;*/
  line-height: 2rem;

}

.scroll-left {
  height: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  /*background: yellow;*/
  /*color: orange;*/
  /*border: 1px solid orange;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.scroll-left .movie-item-details-title {
  position: absolute;
  /*width: 100%;*/
  /*background: red;*/
  height: 100%;
  margin: 0;
  line-height: 2rem;
  text-align: start;

}

.scrolling-title{
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 8s ease-out infinite;
  -webkit-animation: scroll-left 8s ease-out infinite;
  animation: scroll-left 8s ease-out infinite;
  font-size: 0.8rem;
}

.no-scrolling-title{
  font-size: 0.8rem;
}



/* Scroll left animation*/
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-120%); /* Browser bug fix */
    -webkit-transform: translateX(-120%); /* Browser bug fix */
    transform: translateX(-120%);
  }
}

/* Drop-down animation*/
@-moz-keyframes drop-down {
  from {top:-3rem; opacity: 0;}
  to {top:0; opacity: 1;}
}
@keyframes drop-down {
  from {top:-3rem; opacity: 0;}
  to {top:0; opacity: 1;}
}

@-webkit-keyframes drop-down {
  from {top:-3rem; opacity: 0;}
  to {top:0; opacity: 1;}
}

@-moz-keyframes lift-up {
  from {top:0; opacity: 1;}
  to {top:-3rem; opacity: 0; visibility: collapse}
}
@keyframes lift-up {
  from {top:0; opacity: 1;}
  to {top:-3rem; opacity: 0; visibility: collapse}
}

@-webkit-keyframes lift-up {
  from {top:0; opacity: 1;}
  to {top:-3rem; opacity: 0; visibility: collapse}
}

/*Modal animations*/
@-moz-keyframes modal-show {
  0%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes modal-show {
  0%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes modal-show {
  0%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

}

@-moz-keyframes modal-hide {
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
  }
}
@keyframes modal-hide {
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
  }
}

@-webkit-keyframes modal-hide {
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
  }
}

.message{
  position: fixed;
  top: 5%;
  right: 50%;
  color: red;
  font-size: 3em;
  background: rgba(0,0,0, 0.6);
  z-index: 8;
}

